/* Generics */
input {
  text-align:center;
}

.page-header {
  text-align: center;
}

.container {
  max-width: 700px;
}

.close {
  clear:both;
}

.custom-link { color: #999; }
.custom-link:hover { color: #101010;}

.subtitle { color: #999; }

/* Custom Classes */

.notification {
  max-width: 80%;
}

.spinning-cog {
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-note {
  float: left;
  margin-right: 10px;
}

.title { width: 85%; }

.close-editor {
  margin-top: -28px;
  margin-right: 5px;
}

.save-editor {
  margin-top: 10px;
}

.btn-auth {
  width: 100px;
}

.close-note {
  float: right;
  margin-top: -24px;
}

.close-notification{
  float: right;
  margin-top: -22px;
}

.area {
  resize: none;
}

/* IDs */

.footer-center-icon {
  margin-left: 10px;
  margin-right: 10px
}

#ui-container {
  max-width: 500px;
}

#newNote {
  max-width: 250px;
  margin-bottom: 10px;
}

#mail {
  margin-bottom: 10px;
}
