/* Generics */
input {
  text-align:center;
}

.page-header {
  text-align: center;
}

.container {
  max-width: 700px;
}

.close {
  clear:both;
}

.subtitle { color: #999; }

/* Custom Classes */

.edit-note {
  float: left;
  margin-right: 10px;
}

.title { width: 85%; }

.close-editor {
  margin-top: -28px;
  margin-right: 5px;
}

.save-editor {
  margin-top: 10px;
}

.btn-auth {
  width: 100px;
}

.close-note {
  float: right;
  margin-top: -24px;
}

.close-notification{
  float: right;
  margin-top: -22px;
}

.area {
  resize: none;
}

/* IDs */

#quicknotes {
  max-width: 500px;
}

#newNote {
  max-width: 250px;
  margin-bottom: 10px;
}

#mail {
  margin-bottom: 10px;
}
