/* Homework CSS File. I'm sorry it's a mess... */
/* Generics and bootstrap classes */
input {
  text-align:center;
  max-width: 400px;
}

.page-header {
  text-align: center;
}

.close {
  clear:both;
}

/* Custom Classes */
.custom-link { color: #999; }
.custom-link:hover { color: #101010;}

.cool-header {
  margin-bottom: 22px;
}

#save-settings, #reset-settings {
  margin-top: 20px;
  margin-bottom: 20px;
}

#set-date-format {
  max-width: 200px;
}

.date {
  max-width: 250px;
}

.btns-account {
  margin-top: 20px;
}

.menu-item {
  margin-right: 100px; margin-left:100px;
}

.in-bt {
  margin-bottom: 10px;
}

.note {
  padding-bottom: 5px;
}

.note-content {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width:95%;
  text-overflow: ellipsis;
}

.close-note {
  float: right;
  margin-top: -2px;
  clear:both;
}

@media (max-width: 442px) {
  .archive-close-note {
    margin-top: -25px;
  }
}

.note-date{
  float:right;
}
.note-desc {
  color: #999;
}

.notification, .error {
  max-width: 80%;
}

.spinning-cog {
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-note {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.editor-title { width: 70%; }

@media (max-width: 400px) {
  .editor-title { width: 65%; }
}

.close-editor {
  float: right;
  margin-top: -28px;
  margin-right: 5px;
}

.save-editor, .set-date {
  margin-top: 10px;
}

.btn-fix {
  width: 100px;
}

.btn-ver {
  width:115px;
  margin-top:20px;
}

.close-notification, .close-error {
  float: right;
  margin-top: -22px;
}

.area {
  resize: none;
}

/* IDs */

.footer-center-icon {
  margin-left: 10px;
  margin-right: 10px
}

#ui-container {
  width: 90%;
  min-width: 300px;
  max-width: 550px;
}

#newNote {
  max-width: 250px;
  margin-bottom: 10px;
}
