/* Generics and bootstrap classes */
input {
  text-align:center;
}

.page-header {
  text-align: center;
}

.close {
  clear:both;
}

/* Custom Classes */
.custom-link { color: #999; }
.custom-link:hover { color: #101010;}

.menu-item {
  margin-right: 100px; margin-left:100px;
}

.note {
  padding-bottom: 5px;
}

.note-content {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width:95%;
  text-overflow: ellipsis;
}

.close-note {
  float: right;
  margin-top: -2px;
}

.note-desc {
  color: #999;
}

.notification, .error {
  max-width: 80%;
}

.spinning-cog {
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-note {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.editor-title { width: 70%; }

@media (max-width: 400px) {
  .editor-title { width: 65%; }
}

.close-editor {
  float: right;
  margin-top: -28px;
  margin-right: 5px;
}

.save-editor {
  margin-top: 10px;
}

.btn-auth {
  width: 100px;
}

.btn-ver {
  width:150px;
  margin-top:20px;
}

.close-notification, .close-error {
  float: right;
  margin-top: -22px;
}

.area {
  resize: none;
}

/* IDs */

.footer-center-icon {
  margin-left: 10px;
  margin-right: 10px
}

#ui-container {
  width: 90%;
  min-width: 300px;
  max-width: 550px;
}

#newNote {
  max-width: 250px;
  margin-bottom: 10px;
}

#mail {
  margin-bottom: 10px;
}
